{% extends "base/librairie.html.twig" %}


{% block content %}
	<form method="POST">
		<div class='input-group mb-3'>
			<input class='form-control' name="name" type="text" placeholder="nom de l'auteur...">
		</div>
		<div class='input-group mb-3'>
			<input class='form-control' name="image" type="text" placeholder="lien vers la photo de l'auteur..">
		</div>
		<div class='input-group mb-3'>
			<textarea class='form-control' name="description" placeholder="description de l'auteur..."></textarea>
		</div>
		<div>
			<button class="btn btn-primary" type="submit">Sauvegarde l'auteur</button>
		</div>
	</form>
{% endblock %}
