{% extends "base/librairie.html.twig" %}


{% block content %}
	<form method="POST">
		<div>
			<input name="name" type="text" placeholder="nom de l'auteur...">
		</div>
		<div>
			<input name="image" type="text" placeholder="lien vers la photo de l'auteur..">
		</div>
		<div>
			<textarea name="description" placeholder="description de l'auteur..."></textarea>
		</div>
		<div>
			<button type="submit">Sauvegarde l'auteur</button>
		</div>
	</form>
{% endblock %}
