{% extends "base/librairie.html.twig" %}

{% block content %}
	<h2>
		Vous allez modifier l'auteur à l'id :
		{{id}}
		// Son nom est :
		{{name}}
	</h2>

	<form method="POST">
		<div class='input-group mb-3'>
			<input class='form-control' name="name" type="text" placeholder="{{name}}">
		</div>
		<div class='input-group mb-3'>
			<input class='form-control' name="image" type="text" placeholder="lien vers la photo de l'auteur">
		</div>
		<div class='input-group mb-3'>
			<textarea  class='form-control' name="description" placeholder="{{desc}}"></textarea>
		</div>
		<div>
			<button class="btn btn-primary" type="submit">Sauvegarde l'auteur</button>
		</div>
	</form>
{% endblock %}
