<nav>
	<ul>
		<li><a href="{{path('app_book_livres')}}">Liste LIVRES</a></li>
		<li><a href="{{path('app_author_list')}}">Liste AUTEURS</a></li>
		<li><a href="{{path('app_category_list')}}">Liste CATEGORIES</a></li>
	</ul>
</nav>