<nav>
	<ul>
		<li><a href="{{path('app_calculatrice_addition',{'x':x,'y':y,})}}">Lien vers Addition</a></li>
		<li><a href="{{path('app_calculatrice_sousctration',{'x':x,'y':y,})}}">Lien vers soustration</a></li>
		<li><a href="{{path('app_calculatrice_mutliplication',{'x':x,'y':y,})}}">Lien vers multiplication</a></li>
		<li><a href="{{path('app_calculatrice_diviser',{'x':x,'y':y,})}}">Lien vers division</a></li>
	</ul>
</nav>
