{% extends "calcul/baseCalcul.html.twig" %}

{% block titre %}Addition
{% endblock %}

{% block content %}
	<h1>Hello voici l'addition
	</h1>

	<h2>{{ x }}
		+
		{{ y }}
		=
		{{ result }}</h2>
{% endblock %}
