{% extends "calcul/base.html.twig" %}

{% block titre %}division
{% endblock %}

{% block content %}

	<h1>Hello voici la division
	</h1>

	<h2>{{ x }}
		/
		{{ y }}
		=
		{{ result }}</h2>
{% endblock %}
