{% extends "calcul/baseCalcul.html.twig" %}

{% block titre %}multiplication
{% endblock %}

{% block content %}

	<h1>Hello voici la multiplication
	</h1>

	<h2>{{ x }}
		x
		{{ y }}
		=
		{{ result }}</h2>
{% endblock %}
