{% extends "base/librairie.html.twig" %}

{% block content %}
<ul class="list-group list-group-horizontal">
		{% for category in categorys %}
		<ul class="list-group-sm">
		<li class="list-group-item"> {{category.name}} </li>
		<li class="list-group-item"> <a href="{{path('app_category_update',{'id':category.id})}}"> Lien vers modifier</a> </li>
		<li class="list-group-item"> <a href="{{path('app_category_remove',{'id':category.id})}}"> Lien vers supprimer</a></li>
		</ul>
		<br>
		{% endfor %}


{% endblock %}
