{% extends "base/librairie.html.twig" %}


{% block content %}
	<form method="POST">
		<div class='input-group mb-3'>
			<input  class='form-control' name="name" type="text" placeholder="nom de la catégorie">
		</div>
			<button class="btn btn-primary" type="submit">Sauvegarde la catégorie</button>
		</div>
	</form>
{% endblock %}
