{% extends "base/librairie.html.twig" %}


{% block content %}
	<form method="POST">
		<div>
			<input name="name" type="text" placeholder="nom de la catégorie">
		</div>
			<button type="submit">Sauvegarde la catégorie</button>
		</div>
	</form>
{% endblock %}
