{% extends "base/librairie.html.twig" %}

{% block content %}
	<h2>
		Vous allez modifier la catégorie à l'id :
		{{id}}
		// Son nom est : 
		{{name}}
	</h2>

	<form method="POST">
		<div class='input-group mb-3'>
			<input class='form-control' name="name" type="text" placeholder="{{name}}">
		<div>
			<button class="btn btn-primary" type="submit">Sauvegarde l'auteur</button>
		</div>
	</form>
{% endblock %}
