{% extends "base/librairie.html.twig" %}

{% block content %}
	<ul class="list-group list-group-horizontal">
		{% for book in books %}
		<ul class="list-group">
		<li class="list-group-item"> {{book.title}} </li>
		<li class="list-group-item"> <a href="{{path('app_book_update',{'id':book.id})}}"> Lien vers modifier</a></li>
		<li class="list-group-item"> <a href="{{path('app_book_remove',{'id':book.id})}}"> Lien vers supprimer</a></li>
		</ul>
		<br>
		{% endfor %}
	

{% endblock %}
