{% extends "base/librairie.html.twig" %}

{% block content %}
	<ul>
		{% for book in books %}
		<li> {{book.title}}
		<a href="{{path('app_book_update',{'id':book.id})}}"> Lien vers modifier</a>
		<a href="{{path('app_book_remove',{'id':book.id})}}"> Lien vers supprimer</a></li>
		{% endfor %}
	</ul>

{% endblock %}
