{% extends "base/librairie.html.twig" %}


{% block content %}
	<form method="POST">
		<div class='input-group mb-3'>
			<input class='form-control' name="title" type="text" placeholder="titre du livre...">
		</div>
		<div class='input-group mb-3'>
			<input class='form-control' name="price" type="number" step="0.01" placeholder="prix du livre...">
		</div>
		<div class='input-group mb-3'>
			<textarea class='form-control' name="description" placeholder="description du livre..."></textarea>
		</div>
		<div>
			<button class="btn btn-primary" type="submit">Sauvegarde le livre</button>
		</div>
	</form>
{% endblock %}
