{% extends "base/librairie.html.twig" %}


{% block content %}
	<form method="POST">
		<div>
			<input name="title" type="text" placeholder="titre du livre...">
		</div>
		<div>
			<input name="price" type="number" step="0.01" placeholder="prix du livre...">
		</div>
		<div>
			<textarea name="description" placeholder="description du livre..."></textarea>
		</div>
		<div>
			<button type="submit">Sauvegarde le livre</button>
		</div>
	</form>
{% endblock %}
